.screen {
  display: flex;
  flex-direction: column;
  height: 100%;

  textarea, input {
    background-color: transparent;
    border: none;
    color: #999;
    cursor: default;
    outline: none;
    width: 100%;
  }
  textarea {
    border: 1px solid rgba(255,255,255,.1);
    flex: 1;
    font-size: 28px;
    padding: 20px;
    text-align: right;
    resize: none;
  }
  input {
    flex: 0 0 50px;
    font-size: 22px;
    padding: 0 20px;
    text-align: right;
  }
}